.recorder-cell {
  background:white;
  padding:5px;
  color:white;
  border-radius:5px;
}

.recorder-cell .recorder-info {
  display:none;
}

#recorder-controls {
  top:110px;
  right:10px;
  font-size:8px;
  padding-left:2px;
  display:flex;
  align-items:left;
  border-radius: 4px;
  width:650px;
}

#recorder-record-controls {
  display:none;
}

#recorder-record-controls-inner {
  display:flex;
  align-items:left;
  padding-left:2px;
  justify-content:center;
}

#recorder-record-controls-inner .btn {
  padding: 2px 8px;
}

#recorder-record-controls-inner .cancel, 
#recorder-playback-inner .cancel,
#recorder-record-controls-inner .remove 
{
  padding: 2px 8px;
  color:#aaa;
  font-size:13px;
}

#recorder-playback-inner .cancel {
  display:inline;
}

#recorder-playback-inner .cancel span {
  text-decoration:underline;
  cursor:pointer;
  font-weight:bold;
}

#recorder-playback-inner .cancel span:hover {
  color:#666;
}


#recorder-record-controls-inner .remove {
  color:#f00 !important;
  display:none;
}

#recorder-record-controls-inner #btn-remove-graffiti {
  color:red;
  display:none;
}

#recorder-record-controls-inner #btn-finish-graffiti {
  display:none;
}


#recorder-playback-controls {
  display:none;
}

#recorder-playback-inner {
  display:flex;
}


.recorder-playback-controls .btn-play,
.recorder-playback-controls .btn-stop-play,
.recorder-playback-controls .btn-sound-on,
.recorder-playback-controls .btn-sound-off {
  color: black;
  min-width:30px;
}

#recorder-controls-panel .btn-play {
  background: #fff !important;
  color:black;
  font-size:13px;
}

#recorder-record-controls-inner .recorder-hint {
  background-color:#fff;
  font-size:1.2em;
  padding-left:4px;
  padding:4px 0 0 4px;
  min-width:170px;
  display:none;
}

#recorder-record-controls-inner #recorder-api-key {
  cursor:pointer;
  color:#aaa;
  font-size:1.5em;
  color:#999;
  border:1px solid #ccc;
  border-radius: 4px;
  margin-left:10px;
  padding:2px 4px 2px 4px;
}

#recorder-record-controls-inner #recorder-api-key:hover {
  background-color:#eee;
}

#recorder-record-controls-inner .recorder-hint span {
  cursor:pointer;
  text-decoration:underline;
}

/* canvas for garnishes */

.recorder-canvas-outer {
  position:absolute;
  top:0;
  left:0;
  pointer-events:none;
  opacity: 0.5;
}

.recorder-range {
  padding-left:4px;
  padding-top:5px;
  flex-grow:1.25;
  width:70px; /* we never want the recorder-buttons to wrap */
}

.recorder-time-display,
.recorder-time-display-recording {
  padding: 4px 2px 0px 4px;
  font-size:1.4em;
  font-family:monospace;
  display:none;
}

.recorder-time-display-recording {
  color:red;
}

.recorder-button, .recorder-stop-button {
  color:#000;
}

.recorder-hidden {
  display:none;
}

.graffiti-cursor {
  position: fixed;
  z-index:1000;
  color:#fd5;
  text-shadow:3px 2px #000;
  top: 10px;
  left: 0;
  font-size:16px;
  display:none;
}

.graffiti-cursor img {
  width: 24px;
  height:24px;
}

#recorder-notifier {
  margin-left:10px;
  font-size:1.5em;
  cursor:pointer;
}

.graffiti-tip {
  background-color:#fff;
  color:#222;
  position:absolute;
  z-index:10;
  padding:10px;
  border:1px solid #ddd;
  border-radius:5px;
  box-shadow:5px 5px 10px 0px #ccc;
  font-family: Helvetica;
}

.graffiti-tip .parts {
  display:flex;
  align-items:left;
}

.graffiti-tip .headline {
  display:flex;
  align-items:center;
  justify-content:left;
  font-weight:bold;
  padding-bottom:5px;
}

.graffiti-tip .headline div img {
  height:25px;
}

.graffiti-tip .info {
  flex-grow:2;
  width:100%;
  max-width:300px;
  max-height:100px;
  padding-right:8px;
  overflow-y:scroll;
}

.graffiti-tip .movie {
  flex-grow:1;
  padding-left:8px;
}

.graffiti-highlight {
  border-bottom:2px dashed rgb(67,127,127);
/*
  text-decoration:underline;
  text-decoration-style: dotted;
  text-decoration-color: blueviolet;
  text-underline-position:under;
*/
}

.graffiti-selected {
  background-color:yellow;
}

.graffiti-highlight:hover {
  font-weight:bold;
}

.graffiti-text-display {
  font-family:monospace;
  font-size:14px;
  white-space:pre;
  border-radius:2px;
  padding:0 0 0 2px;
  background-color:rgb(234,234,234);
}

/* Force back scrollbar for tooltip, see: http://simurai.com/blog/2011/07/26/webkit-scrollbar */

.graffiti-tip ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

.graffiti-tip ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

/* Graffiti control panel css */


.graffiti-control-panel {
  display:none;
  margin-top:4px;
}

.graffiti-control-panel .btn {
  padding:3px 4px;
}

#graffiti-outer-control-panel {
  position:absolute;
  padding:6px 24px 6px 4px;
  margin-right:21px;
  top:100px;
  left:10px;
  display:flex;
  background-color:rgba(245,245,245,0.9);
  border-radius:4px;
  border:1px solid #aaa;
  z-index:1000;
}


#graffiti-playback-buttons,
#graffiti-scrub-controls {
  display:flex;
  align-items:center;
  justify-content:left;
}

#graffiti-playback-buttons #btn-play,
#graffiti-playback-buttons #btn-pause {
  width:50px;
}

#graffiti-scrub-controls {
  margin-top:2px;
}

#graffiti-access-api {
  font-size:0.8em;
  padding:2px;
}

#graffiti-notifier {
  max-width:150px;
  font-size:0.9em;
}

#graffiti-control-panel-cancel {
  color:#f00;
  font-weight:bold;
  border-radius:2px;
  padding:2px;
  height:18px;
  top:0px;
  right:2px;
  cursor:pointer;
  position:absolute;
  text-transform:uppercase;
}

#graffiti-control-panel-cancel:hover {
  background-color:#faa;
}

#graffiti-drag-handle {
  margin-left:0px;
  margin-right:4px;
  width:10px;
  cursor:pointer;
}

#graffiti-recorder-range {
  width:86px;
  padding-left:4px;
  padding-top:5px;
  flex-grow:1.25;
}

#graffiti-time-display-recording,
#graffiti-time-display-playback {
  padding: 4px 2px 0px 4px;
  font-family:monospace;
}

#graffiti-time-display-recording {
  color:red;
}

.graffiti-notifier-link {
  cursor:pointer;
  font-weight:bold;
  text-decoration:underline;
}

/* 
http://www.patternify.com/
*/
.graffiti-small-dot-pattern { 
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAF0lEQVQYV2NkYGD4z8DAwMgAI0AMDA4AI3EBBMY7CTgAAAAASUVORK5CYII=) repeat;
}

